<div id="header">
    <h1>Productos</h1>
    <span>De la Empresa</span>
    <h2>{{_empresaService.getIdentidad().nombreEmpresa}}</h2>
    <!-- Button trigger modal -->

    <div id="btnpro">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Producto
        </button>
    </div>
</div>

<div >
  <table   id="posicion"  class="table table-striped col-12 " class="col-12 col-md-7"   >
    <thead>
        <tr>
          
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody *ngFor="let produc of modeloProducto">
        <tr>
          <td>{{produc.nombreProducto}}</td>
          <td>{{produc.cantidad}}</td>
          <td>{{produc.nombreProveedor}}</td>
          <td>{{produc.precio}}</td>
          <td>

            <button type="button" class="btn btn-warning m-2" data-bs-toggle="modal" data-bs-target="#editar"(click)="getProductoID(produc._id)"> editar </button>
            <button type="button" class="btn btn-danger m-2" (click)="deleteProducto(produc._id)">Eliminar</button>
            <button type="button" class="btn btn-secondary"data-bs-toggle="modal" data-bs-target="#enviar" (click)="getProductoID(produc._id)">Enviar</button>
            </td>
        </tr>
      </tbody>
  </table>
  

</div>

  <!-- Modal  enviar-->
  <div class="modal fade" id="enviar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enviar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <select class="form-select" aria-label="Default select example">
              <option selected *ngFor="let suc of modeloSucursal">{{suc.nombreSucursal}}</option>
            </select>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Sucursal</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="sucursal" #sucursal="ngModel" [(ngModel)]="modelproductoSucursal.nombreSucursal">
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Producto</label>
              <input  type="text" class="form-control" id="exampleFormControlInput1" name="nombreProducto" #nombreProducto="ngModel" [(ngModel)]="modelproductoSucursal.nombreProducto">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" name="cantidad" #cantidad="ngModel" [(ngModel)]="modelproductoSucursal.cantidad">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"   data-bs-toggle="modal"  (click)="posEnviarProducto()">Enviar</button>
        </div>
      </div>
    </div>
  </div>



<!-- Modal Agregar-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre Producto</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="nombreProducto" #nombreProducto="ngModel" [(ngModel)]="modeloProductoPost.nombreProducto">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Proveedor</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="nombreProveedor" #nombreProveedor="ngModel" [(ngModel)]="modeloProductoPost.nombreProveedor">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cantidad</label>
            <input type="Number" class="form-control" id="exampleInputEmail1" name="cantidad" #cantidad="ngModel" [(ngModel)]="modeloProductoPost.cantidad">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Precio</label>
            <input type="number" class="form-control" id="exampleInputEmail1" name="precio" #precio="ngModel" [(ngModel)]="modeloProductoPost.precio">
          </div>
 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal"(click)="postProducto()">Guardar</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal editar -->
<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre Producto</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="nombreProducto" #nombreProducto="ngModel" [(ngModel)]="modeloProductoPut.nombreProducto">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Proveedor</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="nombreProveedor" #nombreProveedor="ngModel" [(ngModel)]="modeloProductoPut.nombreProveedor">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cantidad</label>
            <input type="Number" class="form-control" id="exampleInputEmail1" name="cantidad" #cantidad="ngModel" [(ngModel)]="modeloProductoPut.cantidad">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Precio</label>
            <input type="number" class="form-control" id="exampleInputEmail1" name="precio" #precio="ngModel" [(ngModel)]="modeloProductoPut.precio">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"(click)="putProductos()">Guardar Producto</button>
        </div>
      </div>
    </div>
  </div>