<app-menuvar></app-menuvar>
<router-outlet></router-outlet>

<div id="header">
  <h1>Xela Cantel</h1>
  <span>sucursal  de Gusto al Gusto</span>
  <h2></h2>
  <!-- Button trigger modal -->


</div>


<table   id="posicion"  class="table table-striped col-12 " class="col-12 col-md-7">
  <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Ventas</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody >
      
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" >Comprar</button>
    </td>
      </tr>
      
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#exampleModal" >Close</button>
        <button type="button" class="btn btn-primary" data-bs-target="#sinoque" data-bs-dismiss="modal" >Save changes</button>
      </div>
    </div>
  </div>
</div>







<!-- Modal -->
<div class="modal fade" id="sinoque" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#exampleModal" >Close</button>
        <button type="button" class="btn btn-primary" data-bs-target="#exampleModal"  >Save changes</button>
      </div>
    </div>
  </div>
</div>